---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
  title='Frontend Developer | Justine Gichana'
  description="Hello there! I'm Justine Gichana, a Frontend Developer with expertise in React, Next.js, and Tailwind CSS, as well as experience in WordPress, Elementor, and Webflow. Let's explore my journey in web development.">
  <div class='stack gap-20'>
    <main class='wrapper about'>
      <Hero
        title='About Me'
        tagline="Thanks for stopping by. Read below to learn more about my journey in frontend development.">
      </Hero>

      <section>
        <h2 class='section-title'>My Journey</h2>
        <div class='content'>
          <h3 class='mb-4'>Justine Gichana</h3>
          <h5 class='mb-4'>
            Frontend Developer | React | Next.js | Tailwind CSS
          </h5>

          <p class='mb-4'>
            🌟 Skilled Frontend Developer specializing in React, Next.js, Wordpress, Webflow, and Tailwind CSS .
          </p>
          <p class='mb-4'>
            🎓 BSc Degree University of Nairobi, (Graduated December 2021)
          </p>

          <p class='mb-4'>
            💼 Actively seeking new opportunities to contribute my expertise.
          </p>

          <p class='mb-4 mt-6'>
            <i class="text-red"><b class="text-3xl">Hello there!</b></i> I'm Justine Gichana, a Frontend Developer with expertise in React, Next.js, and Tailwind CSS, along with experience in WordPress, Elementor, and Webflow. With a passion for web development, I've delivered various exceptional web solutions that meet clients' needs.
          </p>

          <h5 class='mb-4 mt-8'>🔍 Currently Exploring New Opportunities:</h5>
          <p class='mb-4'>
            I am actively seeking new opportunities where I can utilize my frontend development skills. If you're looking for a dedicated developer to join your team, let's connect!
          </p>

          <h5 class='mb-4 mt-8'>💻 Technical Skills:</h5>
          <ul class='mb-4'>
            <li>Frontend: <span class="text-blue-600">React</span>, <span class="text-green-800">Next.js</span>, <span class="text-yellow-800">JavaScript</span>, HTML, CSS, Tailwind CSS</li>
            <li>CMS: WordPress, Elementor, Webflow</li>
            <li>Tools: Git, npm, Visual Studio Code</li>
          </ul>

          <p class='mb-4'>
            🏆 <i>If you're looking for a dedicated Frontend Developer to contribute to your projects, let's discuss how I can add value to your web development journey. </i>
          </p>

          <p class='mb-4'>
            I'm passionate about creating exceptional web solutions, and I'm eager to bring my skills and experience to new challenges. Let's explore how I can enhance your frontend development projects.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
